@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --clr-primary: rgb(255, 255, 255);
  --clr-secondary: rgb(6, 10, 48);
  --clr-tertiary: rgb(0, 81, 212);
  --clr-btn-login: rgb(3, 79, 214);
  --clr-gray: rgb(165, 165, 165);

  --clr-text-white: rgb(255, 255, 255);
  --clr-text-black: rgb(13, 14, 18);
  --clr-error: rgb(255, 20, 27);

  --clr-rent: rgb(18, 194, 151);

  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--clr-primary);
  color: var(--clr-text-black);
  font-family: "Roboto", "Lato", sans-serif;
}

button {
  cursor: pointer;
}

.App {
  width: 100;
  text-align: center;
}

.btn-disabled {
  color: rgb(189, 189, 189);
  padding: 0.35rem 1.6rem;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 0.4rem;
  font-weight: 600;
  background-color: rgba(189, 189, 189, 0.425);
  cursor: default;
}

.center-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.center-register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 2rem;
  overflow-y: scroll;
}

.home-mainpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  width: 32rem;
  overflow-y: scroll;
  .login-form,
  .register-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    width: 100%;
    h1 {
      text-align: center;
      font-size: 2.6rem;
      font-weight: 900;
      margin-bottom: 4rem;
      letter-spacing: 1px;
    }
    label,
    input {
      width: 100%;
      margin: 0.3rem;
      font-size: 0.9rem;
    }
    label {
      font-weight: 600;
    }
    input {
      border-radius: 2rem;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      outline: 1px solid rgba(0, 0, 0, 0);
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      margin-bottom: 1.2rem;
      &:focus {
        border: 1px solid rgba(0, 0, 0, 1);
        outline: 1px solid rgb(0, 0, 0);
      }
    }
    .input-email {
      margin-bottom: 0.2rem;
    }
    .btn-login {
      padding: 1rem;
      border-radius: 2rem;
      border: none;
      outline: none;
      cursor: pointer;
      width: 100%;
      margin-top: 2.2rem;
      background-color: rgb(3, 79, 214);
      color: #fff;
      font-weight: 600;
      font-size: 0.9rem;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      &:hover {
        background-color: rgb(48, 109, 214);
      }
    }
    .err-msg-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      font-size: 0.8rem;
      font-weight: 600;
      color: var(--clr-error);
      text-align: left;
      height: 1.6rem;
      .err-msg-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        gap: 0.4rem;
      }
    }
  }
  .register-user,
  .login-user {
    margin-top: 2rem;
    text-decoration: none;
    color: rgb(3, 79, 214);
    cursor: default;
    span {
      cursor: pointer;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .password-error-container,
  .email-error-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--clr-error);
    text-align: left;
    height: 2rem;
    .password-error-wrapper,
    .email-error-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      gap: 0.4rem;
    }
  }

  .email-syntax-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background-color: var(--clr-secondary);
    font-weight: 400;
    color: #fafafa;
    border-radius: 1rem;
    height: 0rem;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow: hidden;
    .email-syntax-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 1rem;
      width: 100%;
      .email-syntax-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 0.5rem;
      }
      h2 {
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 0.6rem;
      }
      .email-syntax-list {
        font-size: 0.9rem;
        li {
          list-style: inside;
        }
      }
      h3 {
        font-weight: 400;
        font-size: 1rem;
      }
    }
  }
  .email-syntax-container.show-info {
    height: 9rem;
  }
}

.dashboard-container,
.renteddevices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.menu-containers-wrapper {
  display: flex;
  width: 15%;
  min-width: 16rem;
}

.menu-container,
.mobile-menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--clr-secondary);
  padding: 1rem 1.2rem;
  color: #fff;
  .user-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    h1 {
      font-family: "Roboto", sans-serif;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
  .menu-navigation {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    .links-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          margin-bottom: 0.4rem;
        }
        .nav-link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          text-decoration: none;
          width: 100%;
          font-size: 1.2rem;
          font-weight: 500;
          padding: 0.8rem;
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          border-radius: 0.5rem;
          gap: 1rem;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: var(--clr-gray);
          &:hover {
            background-color: var(--clr-tertiary);
            color: #fff;
          }
          i {
            width: 2rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
        .active {
          background-color: var(--clr-tertiary);
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .logout-wrapper {
      .btn-logout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: transparent;
        color: var(--clr-gray);
        cursor: pointer;
        gap: 0.3rem;
        font-size: 1.1rem;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        padding: 0rem 0rem 1.6rem 0.8rem;
        border: none;
        p {
          font-size: 0.8rem;
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
.mobile-menu-container {
  display: none;
}
.devices-container {
  width: 85%;
  height: 100vh;
  overflow: hidden;
  .devices-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgb(236, 236, 236);
    -webkit-box-shadow: 0px 0px 0.2rem 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0.2rem 0px rgba(0, 0, 0, 0.1);
    h1 {
      font-size: 1.9rem;
      text-align: left;
    }
  }
  .devices-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 1rem 2rem;
    overflow-y: scroll;
  }
  .devices-sorting-bar {
    .sorting-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: rgb(247, 247, 247);
      padding: 1rem;
      border-radius: 0.6rem;
      .name-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
        .btn-sort {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: none;
          background-color: transparent;
          font-size: 0.9rem;
          font-weight: 600;
          gap: 0.5rem;
          cursor: pointer;
        }
      }
      .namereturn-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
        .btn-sort {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: none;
          background-color: transparent;
          font-size: 0.9rem;
          font-weight: 600;
          gap: 0.5rem;
          cursor: pointer;
        }
      }
      .returndate-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        .btn-sort {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          border: none;
          background-color: transparent;
          font-size: 0.9rem;
          font-weight: 600;
          gap: 0.5rem;
          cursor: pointer;
        }
      }
      .rent-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 10%;
        p {
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .return-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 20%;
        p {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }
  }
  .deviceslist-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 100vh;
    overflow-y: scroll;
    padding: 0.6rem 0rem;
    .single-device {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 0.8rem 1rem;
      border-bottom: 1px solid rgb(230, 230, 230);
      .device-data {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
        font-weight: 600;
        font-size: 0.9rem;
        .device-available {
          color: var(--clr-rent);
        }
        .device-rented {
          color: var(--clr-error);
        }
      }
      .rented-data,
      .rented-date {
        font-weight: 600;
        font-size: 0.9rem;
      }
      .rented-data {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
      }
      .rented-date {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
      }
      .device-btn-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 10%;
        .btn-rent {
          color: var(--clr-rent);
          padding: 0.4rem 1.6rem;
          border: 1px solid var(--clr-rent);
          border-radius: 0.35rem;
          background-color: rgba(18, 194, 150, 0.2);
          font-weight: 600;
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          &:hover {
            background-color: rgb(124, 255, 218);
          }
        }
        .btn-return {
          color: var(--clr-rent);
          padding: 0.4rem 1.6rem;
          border: 1px solid var(--clr-rent);
          border-radius: 0.35rem;
          background-color: rgba(18, 194, 150, 0.2);
          font-weight: 600;
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          &:hover {
            background-color: rgb(124, 255, 218);
          }
        }
      }
      .wrapper-return {
        width: 20%;
      }
    }
    .deviceslist-norented {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 60vh;
      text-align: center;
      h2 {
        font-size: 1.6rem;
        color: var(--clr-gray);
      }
    }
  }
}

.admin-panel-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.devices-admin-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 85%;
  height: 100vh;
  overflow: hidden;
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 1.2rem;
    border-bottom: 1px solid rgb(230, 230, 230);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    h1 {
      font-size: 1.9rem;
      text-align: left;
    }
    .btn-new-device {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border: 2px solid var(--clr-rent);
      padding: 0.6rem 1.6rem;
      gap: 0.4rem;
      color: var(--clr-rent);
      border-radius: 1.6rem;
      background-color: rgb(214, 252, 242);
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      p {
        font-size: 0.9rem;
        font-weight: 600;
      }
      i {
        font-size: 1.2rem;
      }
      &:hover {
        background-color: rgb(3, 79, 214);
        border: 2px solid rgb(3, 79, 214);
        p,
        i {
          color: #fafafa;
        }
      }
    }
  }
  .devices-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    overflow-y: scroll;
    .devices-menu-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      background-color: rgb(247, 247, 247);
      padding: 1rem;
      border-radius: 0.7rem;
      .menu-title-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 21%;
        font-weight: 500;
      }
      .menu-status-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 10%;
        font-weight: 500;
      }
      .menu-action-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 27%;
        font-weight: 500;
      }
    }
    .list-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      padding: 0.6rem 1rem;
      height: 100vh;
      overflow-y: scroll;
      .single-device-manage {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 1rem 0px;
        border-bottom: 1px solid rgb(230, 230, 230);
        .device-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 21%;
          font-weight: 600;
          font-size: 0.9rem;
          .available {
            color: var(--clr-rent);
          }
          .not-available {
            color: var(--clr-error);
          }
        }
        .device-status-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 10%;
          font-weight: 600;
          .status-working {
            color: rgb(60, 226, 27);
          }
          .status-repair {
            color: rgb(236, 135, 52);
          }
        }
        .device-btns-wrapper {
          gap: 1rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 27%;
          .btn-repair,
          .btn-delete {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0.5rem 0.9rem;
            border-radius: 0.6rem;
            gap: 0.4rem;
            background-color: transparent;
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            p {
              font-weight: 600;
            }
          }
          .btn-disabled {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0.5rem 0.9rem;
            border-radius: 0.6rem;
            gap: 0.4rem;
            border: 2px solid rgb(189, 189, 189);
          }
          .btn-repair {
            color: var(--clr-rent);
            border: 2px solid var(--clr-rent);
            -webkit-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
            &:hover {
              color: #fafafa;
              background-color: var(--clr-rent);
            }
          }
          .btn-delete {
            color: var(--clr-error);
            border: 2px solid var(--clr-error);
            &:hover {
              color: #fafafa;
              background-color: var(--clr-error);
            }
          }
        }
      }
    }
  }
}

.new-device-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow-y: scroll;
  .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 30rem;
    h2 {
      font-weight: 500;
      font-size: 1.4rem;
      padding-bottom: 0.2rem;
      margin-bottom: 0.8rem;
      border-bottom: 0.2rem solid var(--clr-tertiary);
      width: 80%;
    }
    .new-device-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      padding: 1rem;
      fieldset {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        border: none;
        input,
        label {
          width: 100%;
        }
        label {
          font-weight: 600;
          font-size: 0.9rem;
          text-align: left;
          margin-bottom: 0.2rem;
        }
        input {
          padding: 0.8rem 0.6rem;
          margin-bottom: 2rem;
          font-size: 1rem;
          font-weight: 400;
          border-radius: 1.2rem;
          border: none;
          background-color: rgb(241, 241, 241);
          outline: none;
          border: 1px solid rgba(0, 0, 0, 0);
          -webkit-box-shadow: 0px 0px 0.3rem 0px rgba(255, 255, 255, 0);
          box-shadow: 0px 0px 0.3rem 0px rgba(255, 255, 255, 0);
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          &:focus,
          &:active {
            border: 1px solid rgb(0, 0, 0);
          }
          &:hover {
            -webkit-box-shadow: 0px 0px 0.2rem 0px rgba(3, 80, 214, 0.5);
            box-shadow: 0px 0px 0.2rem 0px rgba(3, 80, 214, 0.5);
          }
        }
        .btn-submit-device {
          border: 2px solid var(--clr-btn-login);
          font-size: 1.1rem;
          font-weight: 600;
          padding: 1rem;
          border-radius: 1rem;
          background-color: transparent;
          color: var(--clr-btn-login);
          -webkit-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
          &:hover {
            color: #fafafa;
            background-color: var(--clr-btn-login);
          }
        }
      }
    }
  }
  .btn-close-wrapper {
    position: absolute;
    right: 4rem;
    top: 2rem;
    .btn-close {
      background-color: transparent;
      border: none;
      font-size: 2rem;
      border-radius: 2rem;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
      padding: 0.5rem 1rem;
      &:hover {
        background-color: rgb(241, 241, 241);
      }
    }
  }
  .modal-container {
    position: absolute;
    display: none;
    bottom: 5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    .modal-wrapper {
      position: relative;
      padding: 2rem 1rem;
      border-radius: 1rem;
      background-color: var(--clr-rent);
      color: #fafafa;
      -webkit-filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.4));
      filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.4));
      &::after {
        content: "";
        position: absolute;
        width: 4rem;
        height: 5rem;
        -webkit-clip-path: polygon(50% 40%, 0 0, 100% 0);
        clip-path: polygon(50% 40%, 0 0, 100% 0);
        background-color: var(--clr-rent);
        bottom: -5rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
  .modal-container.display {
    display: flex;
    opacity: 0;
  }
  .modal-container.show {
    left: 50%;
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-100%);
    -ms-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}

.error-border {
  border-color: var(--clr-error) !important;
}

@media only screen and (max-width: 1300px) {
  .menu-containers-wrapper {
    width: 4%;
    min-width: 4rem;
    position: relative;
    .menu-container {
      display: none;
    }
    .mobile-menu-container {
      display: flex;
      position: absolute;
      padding: 1rem 0.3rem 1rem 0.3rem;
      overflow: hidden;
      width: 4rem;
      z-index: 100;
      transition: all 0.15s linear;
      .user-wrapper {
        align-items: center;
        padding-top: 1rem;
        justify-content: flex-start;
        overflow: hidden;
        h1 {
          white-space: nowrap;
        }
      }
      .nav-link {
        display: flex;
        position: relative;
        justify-content: flex-start;
        overflow: hidden;
        white-space: nowrap;
        i {
          font-size: 1.4rem;
        }
        p {
          position: absolute;
          left: 3.5rem;
        }
      }
      .logout-wrapper {
        width: 100%;
        .btn-logout {
          position: relative;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          padding: 0rem 0rem 1rem 1rem;
          i {
            font-size: 1.4rem;
          }
          p {
            display: none;
          }
        }
      }
    }
    .expanded {
      width: 12rem;
    }
  }
  .devices-container,
  .devices-admin-container {
    width: 96%;
  }
  .menu-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    .btn-menu {
      font-size: 1.6rem;
      background-color: transparent;
      border: none;
      color: #fafafa;
      padding: 0.3rem 0rem;
    }
  }

  .device-btns-wrapper {
    display: flex;
    flex-direction: column;
    button {
      align-items: center;
      justify-content: center;
    }
  }

  .new-device-container {
    .form-wrapper {
      padding-left: 0.5rem;
    }
    .btn-close-wrapper {
      top: 0.3rem;
      right: 0.2rem;
      .btn-close {
        font-size: 1.6rem;
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .form-container {
    .login-form,
    .register-form {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
